PGHOST=postgres
PGPORT=5432
PGUSER=admin
PGPASSWORD=admin
PGDATABASE=ms_product_db
PORT=3001
MODE=DEV
RUN_MIGRATIONS=true
DATABASE_HOST= localhost
DATABASE_PORT= 5432
DATABASE_USER= admin
DATABASE_PASSWORD= admin
DATABASE_NAME= ms-product_db
RABBITMQ_HOST= rabbitmq
RABBITMQ_PORT= 5672
RABBITMQ_USER= admin
RABBITMQ_PASS= admin
JWT_SECRET="clave_secreta"